/* THUMB :  WIDTH, HEIGHT & FONT */
table.thumb td a, .table.thumb td a:link, .table.thumb td a:visited, .table.thumb td a:hover, .table.thumb td a:visited:hover {
	font-size: 8pt;
   display: block;
   padding-top: 5px;
   padding-left: 3px;
   padding-right: 3px;
   text-decoration: none;
   width: 158px;
   height: 190px;
}
/* THUMB : COLORS */
table.thumb td a:link, table.thumb td a:visited {
   background-color: #DEDEDE;
   border: 1px solid #909090;
	text-decoration: none;
}
/* THUMB : COLORS : HOVER */
table.thumb td a:hover {
   background-color: #C9C9C9;
   border: 1px solid #909090;
}
/* SUBFOLDER : WIDTH, HEIGHT & FONT  */
table.subfolder td a, .table.subfolder td a:link, .table.subfolder td a:visited, .table.subfolder td a:hover, .table.subfolder td a:visited:hover {
	font-size: 8pt;
	font-weight: bold;
   display: block;
   padding-top: 5px;
   padding-left: 3px;
   padding-right: 3px;
   text-decoration: none;
   width: 158px;
   height: 190px;
}
table.marknew td a {
	background-image: url(../images/new.gif);
   background-repeat: no-repeat;
	background-position: bottom right;
}
/* SUBFOLDER : COLORS */
table.subfolder td a:link, table.subfolder td a:visited {
   background-color: #CBCBCB;
   border: 1px solid #909090;
	text-decoration: none;
}
/* SUBFOLDER : COLORS : HOVER */
table.subfolder td a:hover {
   background-color: #BABABA;
   border: 1px solid #909090;
}
/* ALL : MARGIN */
table.subfolder, table.thumb {
   border-collapse: collapse;
	text-align:center;
   margin: 10px;
}
/* ALL : THUMB BORDERS */
table.border td a .thumb, table.thumb td a .thumb{
   border: 1px solid #8D8D8D;
}
table.subfolder td a img, table.thumb td a img{
   border: 0;
}
/* TABLE ABOVE HEADLINE */
.table-top {
	font-size: 9pt;
	text-decoration: none;
   vertical-align: top;
	height: 20px;
	border: 0;
}

/* HEADLINE BAR */
.table-headline {
	text-decoration: none;
   vertical-align: top;
	text-align: right;
	height: 25px;
	background-color: #DEDEDE;
	border-bottom: 1px dotted #909090;
	border-top: 1px dotted #909090;
	letter-spacing: 5px;
	padding-right: 5px;
}
.headline{
   font-size: 11pt;
	text-align: right;
	color: #7A7A7A;
}
.headline:first-letter {
	font-size: 12pt;
   color: #38486A;
   font-weight: bold;
}

/* FOLDER INTRO TEXT */
.introtext {
   margin: 6px 12px 6px 12px;
	text-align: left;
	color: #000193;
}

/* VIEWIMAGE IMAGE PROPERTIES */
.viewimage {
	border: 1px solid #505050;
	background-color: #DEDEDE;
}

/* ICONBAR IN HEADLINE */
.iconbar{
	text-align: left;
	padding-left: 5px;
}

/* IMAGE DESCRIPTION */
.description {
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	color: #BDBDBD;
	text-decoration: none;
}

/* COPYRIGHT NOTICE */
.copyright {
	font-size: 9pt;
	color: #797983;
   text-align: center;
}

/* EXIF TABLE */
.exif {
	font-size: 9pt;
	color: #797983;
	text-align: center;
	border: 0;
}

/* STRONG, USED IN EXIF TABLE */
strong {
	font-size: 9pt;
	color: #707070;
}

/* COMMENT TABLE */
.table-comments {
	font-size: 9pt;
	color: #797983;
	text-decoration: none;
	border: 0;
   text-align: left;
}

/* COMMENT DATE, USER ETC. */
.comment-aboveline {
	font-size: 9pt;
	text-align: left;
	color: #707070;
	text-decoration: none;
	font-style: italic;
	border: 0px;
	height: 30px;
	vertical-align: bottom;
}

/* THE COMMENT */
.comment-belowline {
	font-size: 9pt;
	text-align: left;
	color: #707070;
	text-decoration: none;
	font-style: italic;
	border-top: 1px solid #797983;
}

/* COMMENT INPUT FIELD */
.comment-textfield {
	background-color: #DEDEDE;
	border: 1px dotted #909090;
	color: #707070;
}

/* COMMENT SUBMIT BUTTON */
.comment-button {
	font-size: 10pt;
	background-color: #DEDEDE;
	border: 1px dotted #909090;
	color: #707070;
}

/* POWERED BY MG2 CREDITS (DO NOT REMOVE FROM SCRIPT!) */
.credits {
	font-size: 9pt;
	color: #75757F;
   text-align: center;
}

/* BODY PROPERTIES */
.mg2body {
	font-family: "Century Gothic", "MS Sans Serif", "Arial";
   font-size: 9pt;
	color: #75757F;
	background-color: White;
	margin: 0;
   padding: 0;
}

/* LINK PROPERTIES */
.mg2body a:link, .mg2body a:visited {
   color: Black; text-decoration: none;
}
.mg2body a:hover, .mg2body a:visited:hover { 
   color: Black; text-decoration: none;
}
