/* THUMB :  WIDTH, HEIGHT & FONT */
table.thumb td a, .table.thumb td a:link, .table.thumb td a:visited, .table.thumb td a:hover, .table.thumb td a:visited:hover {
	font-size: 8pt;
   display: block;
   padding-top: 5px;
   padding-left: 3px;
   padding-right: 3px;
   text-decoration: none;
   width: 158px;
   height: 190px;
   color: #CCCCFF;
}
/* THUMB : COLORS */
table.thumb td a:link, table.thumb td a:visited {
   background-color: #262626;
   border: 1px solid #000000;
	text-decoration: none;
}
/* THUMB : COLORS : HOVER */
table.thumb td a:hover {
   background-color: #191919;
   border: 1px solid #5979C4;
}
/* SUBFOLDER : WIDTH, HEIGHT & FONT  */
table.subfolder td a, .table.subfolder td a:link, .table.subfolder td a:visited, .table.subfolder td a:hover, .table.subfolder td a:visited:hover {
	font-size: 8pt;
	font-weight: bold;
   display: block;
   padding-top: 5px;
   padding-left: 3px;
   padding-right: 3px;
   text-decoration: none;
   width: 158px;
   height: 190px;
	text-decoration: none;
   color: #CCCCFF;
}
table.marknew td a {
	background-image: url(../images/new.gif);
   background-repeat: no-repeat;
	background-position: bottom right;
}
/* SUBFOLDER : COLORS */
table.subfolder td a:link, table.subfolder td a:visited {
   background-color: #262626;
   border: 1px solid #000000;
	text-decoration: none;
}
/* SUBFOLDER : COLORS : HOVER */
table.subfolder td a:hover {
   background-color: #191919;
   border: 1px solid #5979C4;
}
/* ALL : MARGIN */
table.subfolder, table.thumb {
   border-collapse: collapse;
	text-align:center;
   margin: 10px;
}
/* ALL : THUMB BORDERS */
table.border td a .thumb, table.thumb td a .thumb{
   border: 1px solid #000000;
}
table.subfolder td a img, table.thumb td a img{
   border: 0;
}
/* TABLE ABOVE HEADLINE */
.table-top {
	font-size: 9pt;
	text-decoration: none;
   vertical-align: top;
	height: 20px;
	border: 0;
}

/* HEADLINE BAR */
.table-headline {
	text-decoration: none;
   vertical-align: top;
	text-align: right;
	height: 30px;
	background-color: #191919;
	border-bottom: 1px dashed #5979C4;
	letter-spacing: 5px;
	padding-right: 5px;
}
.headline{
   font-size: 12pt;
	font-weight: bold;
	text-align: right;
	color: #CCCCFF;
}

/* FOLDER INTRO TEXT */
.introtext {
   margin: 6px 12px 6px 12px;
	text-align: left;
	color: #797983;
}

/* VIEWIMAGE IMAGE PROPERTIES */
.viewimage {
	border: solid 1px #000000;
	background-color: #2D2D2D;
}

/* ICONBAR IN HEADLINE */
.iconbar{
	text-align: left;
	color: #74747F;
	letter-spacing: 1px;
	text-align: left;
	padding-left: 5px;
}

/* IMAGE DESCRIPTION */
.description {
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
	color: #CCCCFF;
	text-decoration: none;
}

/* COPYRIGHT NOTICE */
.copyright {
	font-size: 9pt;
	color: #797983;
   text-align: center;
}

/* EXIF TABLE */
.exif {
	font-size: 8pt;
	color: #797983;
	text-align: center;
	border: 0;
}

/* STRONG, USED IN EXIF TABLE */
strong {
	font-size: 8pt;
	color: #CCCCFF;
}

/* COMMENT TABLE */
.table-comments {
	font-size: 8pt;
	color: #797983;
	text-decoration: none;
	border: 0;
   text-align: left;
}

/* COMMENT DATE, USER ETC. */
.comment-aboveline {
	width: 550px;
	height: 20px;
	vertical-align: bottom;
	border-bottom: 1px solid #797983;
	padding: 5px;
}

/* THE COMMENT */
.comment-belowline {
	width: 550px;
	height: 20px;
	vertical-align: top;
	padding: 5px;
}

/* COMMENT INPUT FIELD */
.comment-textfield {
	background-color: #262626;
	color: #CCCCFF;
   border: 1px solid #3E3E3E;
}

/* COMMENT SUBMIT BUTTON */
.comment-button {
	font-size: 8pt;
	color: #797983;
	background-color: #262626;
   border: 1px solid #3E3E3E;
}

/* POWERED BY MG2 CREDITS (DO NOT REMOVE FROM SCRIPT!) */
.credits {
	font-size: 8pt;
	color: #797983;
   text-align: center;
}

/* BODY PROPERTIES */
.mg2body {
	font-family: verdana, arial;
   font-size: 8pt;
	color: #797983;
	background-color: #2D2D2D;
	margin: 0;
   padding: 0;
}

/* LINK PROPERTIES */
.mg2body a:link, .mg2body a:visited {
   color: #CCCCFF; text-decoration: none;
}
.mg2body a:hover, .mg2body a:visited:hover { 
   color: #5F79D8; text-decoration: none;
}
