/* THUMB TABLE & MOUSEOVER */
table.thumb {
   border-collapse: collapse;
	text-align:center;
   margin: 10px;
}
/* set width & height here */
table.thumb td a{
   display: block;
   text-decoration: none;
   width: 162px;
   height: 190px;
}
/* image border & position */
table.thumb td a img{
   position: relative;
   top: -10px;
   border: 1px inset #333E46;
}
/* basic thumb colors */
table.thumb td a:link, table.thumb td a:visited {
   background-color: #7F90A0;
   border: 3px outset #AFBECF;
	text-decoration: none;
}
/* mouseover thumb colors */
table.thumb td a:hover {
   background-color: #9BAAB9;
   border: 3px outset #DFE5EC;
}

/* SUBFOLDER TABLE & MOUSEOVER */
table.subfolder, table.subfolder-border {
   border-collapse: collapse;
	text-align:center;
   margin: 10px;
}
/* set width & height here */
table.subfolder td a, table.subfolder-border td a{
   display: block;
   text-decoration: none;
   width: 162px;
   height: 190px;
}
/* image border & position (folder icon as subfolder) */
table.subfolder td a img{
   position: relative;
   top: -10px;
   border: 0;
}
/* image border & position (thumb as subfolder) */
table.subfolder-border td a img{
   position: relative;
   top: -10px;
   border: 1px inset #333E46;
}
/* basic thumb colors */
table.subfolder td a:link, table.subfolder td a:visited, table.subfolder-border td a:link, table.subfolder-border td a:visited {
   background-color: #A4B1BF;
   border: 3px outset #AFBECF;
	text-decoration: none;
}
/* mouseover thumb colors */
table.subfolder td a:hover, table.subfolder-border td a:hover {
   background-color: #C2CFD8;
   border: 3px outset #DFE5EC;
}
/* title positioning */
table td .title{
   position: relative;
   top: 170px;
	font: 8pt tahoma, verdana, arial;
	color: #FFFFFF;
}
/* title positioning */
table.subfolder td .title,table.subfolder-border td .title{
   position: relative;
   top: 170px;
	font: bold 8pt tahoma, verdana, arial;
	letter-spacing: 1px;
	color: #FFFFFF;
}

/* TABLE ABOVE HEADLINE */
.table-top {
	font: bold 8pt tahoma, verdana, arial;
	color: #D5D7F0;
	text-decoration: none;
   vertical-align: top;
	height: 20px;
	border: 0;
	background-color: #404D57;
}

/* HEADLINE BAR */
.table-headline {
	font: 14pt Arial, Helvetica, sans-serif;
	color: #00A401;
	text-decoration: none;
   vertical-align: top;
	text-align: right;
	height: 30px;
	border: 0;
	background-color: #333E46;
	border-bottom: 1px solid #1B252B;
	border-top: 1px solid #1B252B;
	letter-spacing: 5px;
	padding-right: 5px;
}
.head 
{ 
margin: 5,5,5,5;
  font-size:         12pt; 
  font-weight:      normal; 
  text-align:       right; 
  letter-spacing:     8px; 
  padding-top:       5px; 
  padding-bottom:   5px; 
  background-color: #333E46; 
  color:  white;
} 

.head:first-letter 
{ 
  color:     #E9EAF8; 
  font-style: bold; 
  font-size:  16pt; 
}

/* FOLDER INTRO TEXT */
.introtext {
	font: 8pt tahoma, verdana, arial;
   margin: 6px 12px 6px 12px;
	text-align: left;
	color: White;
}

/* VIEWIMAGE IMAGE PROPERTIES */
.viewimage {
   border: 5px inset #333E46;
}

/* ICONBAR IN HEADLINE (SLIDESHOW ETC.) */
.iconbar {
	font: bold 10pt Arial, Helvetica, sans-serif;
	color: #74747F;
	letter-spacing: 1px;
	text-align: left;
	padding-left: 5px;
}

/* IMAGE DESCRIPTION */
.description {
	font: bold 9pt tahoma, verdana, arial;
	text-align: center;
	color: #D5D7F0;
	text-decoration: none;
}

/* COPYRIGHT NOTICE */
.copyright {
	font: 8pt tahoma, verdana, arial;
	color: white;
   text-align: center;
}

/* EXIF INFORMATION */
.exif {
	font: 8pt tahoma, verdana, arial;
	color: white;
	border: 0;
	text-align: center;
}

/* STRONG, USED IN EXIF TABLE */
strong {
	font: 8pt tahoma, verdana, arial;
	color: #D5D7F0;
}

/* COMMENT TABLE */
.table-comments {
	font: 8pt tahoma, verdana, arial;
	padding: 5px;
	color: white;
	width: 90%;
}

/* COMMENT DATE, USER ETC. */
.comment-aboveline {
   font-weight: bold;
	height: 20px;
	vertical-align: bottom;
	padding: 5px;
}

/* THE COMMENT */
.comment-belowline {
	height: 20px;
	vertical-align: top;
	padding: 5px;
	background-color: #333E46;
}

/* COMMENT INPUT FIELD */
.comment-textfield {
	font: 9pt tahoma, verdana, arial;
   border: 0;
	background-color: #333E46;
	border: 1px solid #1B252B;
	color: white;
}

/* COMMENT SUBMIT BUTTON */
.comment-button {
	font: bold 9pt tahoma, verdana, arial;
	color: white;
	border: 1px solid #1B252B;
	background-color: #333E46;
}

/* POWERED BY MG2 CREDITS (DO NOT REMOVE FROM SCRIPT!) */
.credits {
	font: 8pt tahoma, verdana, arial;
	color: white;
   text-align: center;
}

/* BODY PROPERTIES */
.mg2body {
	font: bold 8pt tahoma, verdana, arial;
	color: #FFFFFF;
	background-color: #404D57;
	margin: 0;
   padding: 0;
}

/* LINK PROPERTIES */
.mg2body a:link, .mg2body a:visited {
   color: #D5D7F0; text-decoration: none;
}
.mg2body a:hover, .mg2body a:visited:hover { 
   color: white; text-decoration: none;
}
