/* THUMB :  WIDTH, HEIGHT & FONT */
table.thumb td a, .table.thumb td a:link, .table.thumb td a:visited, .table.thumb td a:hover, .table.thumb td a:visited:hover {
	font-size: 8pt;
   display: block;
   padding-top: 5px;
   padding-left: 3px;
   padding-right: 3px;
   text-decoration: none;
   width: 162px;
   height: 190px;
   color: #FFFFFF;
}
/* THUMB : COLORS */
table.thumb td a:link, table.thumb td a:visited {
   background-color: #7F90A0;
   border: 3px outset #AFBECF;
	text-decoration: none;
}
/* THUMB : COLORS : HOVER */
table.thumb td a:hover {
   background-color: #9BAAB9;
   border: 3px outset #DFE5EC;
}
/* SUBFOLDER : WIDTH, HEIGHT & FONT  */
table.subfolder td a, .table.subfolder td a:link, .table.subfolder td a:visited, .table.subfolder td a:hover, .table.subfolder td a:visited:hover {
	font-size: 8pt;
	font-weight: bold;
   display: block;
   padding-top: 5px;
   padding-left: 3px;
   padding-right: 3px;
   text-decoration: none;
   width: 162px;
   height: 190px;
	text-decoration: none;
   color: #FFFFFF;
}
table.marknew td a {
	background-image: url(../images/new.gif);
   background-repeat: no-repeat;
	background-position: bottom right;
}
/* SUBFOLDER : COLORS */
table.subfolder td a:link, table.subfolder td a:visited {
   background-color: #A4B1BF;
   border: 3px outset #AFBECF;
	text-decoration: none;
}
/* SUBFOLDER : COLORS : HOVER */
table.subfolder td a:hover {
   background-color: #C2CFD8;
   border: 3px outset #DFE5EC;
}
/* ALL : MARGIN */
table.subfolder, table.thumb {
   border-collapse: collapse;
	text-align:center;
   margin: 5px;
}
/* ALL : THUMB BORDERS */
table.border td a .thumb, table.thumb td a .thumb{
   border: 1px inset #333E46;
}
table.subfolder td a img, table.thumb td a img{
   border: 0;
}
/* TABLE ABOVE HEADLINE */
.table-top {
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
   vertical-align: top;
	height: 20px;
	border: 0;
}

/* HEADLINE BAR */
.table-headline {
	text-decoration: none;
   vertical-align: top;
	text-align: right;
	height: 30px;
	background-color: #333E46;
	border-bottom: 1px solid #1B252B;
	border-top: 1px solid #1B252B;
	letter-spacing: 5px;
	padding-right: 5px;
}
.headline{
  margin: 5,5,5,5;
  font-size:         12pt; 
  font-weight:      normal; 
  text-align:       right; 
  letter-spacing:     8px; 
  padding-top:       5px; 
  padding-bottom:   5px; 
  background-color: #333E46; 
  color:  white;
}
.headline:first-letter { 
  color:     #E9EAF8; 
  font-style: bold; 
  font-size:  16pt; 
}
/* FOLDER INTRO TEXT */
.introtext {
   margin: 6px 12px 6px 12px;
	text-align: left;
	color: White;
}

/* VIEWIMAGE IMAGE PROPERTIES */
.viewimage {
   border: 5px inset #333E46;
}

/* ICONBAR IN HEADLINE */
.iconbar{
	text-align: left;
	color: #74747F;
	letter-spacing: 1px;
	text-align: left;
	padding-left: 5px;
}

/* IMAGE DESCRIPTION */
.description {
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	color: #D5D7F0;
	text-decoration: none;
}

/* COPYRIGHT NOTICE */
.copyright {
	font-size: 9pt;
	color: white;
   text-align: center;
}

/* EXIF TABLE */
.exif {
	font-size: 8pt;
	color: white;
	text-align: center;
	border: 0;
}

/* STRONG, USED IN EXIF TABLE */
strong {
	font-size: 8pt;
	color: #D5D7F0;
}

/* COMMENT TABLE */
.table-comments {
	font-size: 8pt;
	padding: 5px;
	color: white;
	width: 90%;
}

/* COMMENT DATE, USER ETC. */
.comment-aboveline {
	width: 550px;
	height: 20px;
   font-weight: bold;
	height: 20px;
	border-bottom: 1px solid #CBCBCB;
	vertical-align: bottom;
	padding: 5px;
}

/* THE COMMENT */
.comment-belowline {
	width: 550px;
	height: 20px;
	vertical-align: top;
	padding: 5px;
}

/* COMMENT INPUT FIELD */
.comment-textfield {
   font-size: 9pt;
	background-color: #333E46;
	border: 1px solid #1B252B;
	color: white;
}

/* COMMENT SUBMIT BUTTON */
.comment-button {
	font-size: 8pt;
	color: white;
	border: 1px solid #1B252B;
	background-color: #333E46;
}

/* POWERED BY MG2 CREDITS (DO NOT REMOVE FROM SCRIPT!) */
.credits {
	font-size: 8pt;
	color: white;
   text-align: center;
}

/* BODY PROPERTIES */
.mg2body {
	font-family: Arial, Helvetica, sans-serif;
   font-size: 8pt;
	color: #FFFFFF;
	background-color: #404D57;
	margin: 0;
   padding: 0;
}

/* LINK PROPERTIES */
.mg2body a:link, .mg2body a:visited {
   color: #D5D7F0; text-decoration: none;
}
.mg2body a:hover, .mg2body a:visited:hover { 
   color: white; text-decoration: none;
}
